@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
/*General Styles*/
:root{
    --main-color: rgb(23, 109, 167);
    --secondary-color: rgb(3, 190, 119);
    --bg-color: rgb(40, 40, 40);
    --bg-secondary-color:rgb(35, 35, 35);
    --text-color:rgb(211, 211, 211);

}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background: -webkit-linear-gradient(30deg, rgb(20, 17, 25) 18%, rgb(56, 50, 43) 80%, rgb(57, 50, 45) 100%);
    background: -o-linear-gradient(30deg, rgb(20, 17, 25) 18%, rgb(56, 50, 43) 80%, rgb(57, 50, 45) 100%);
    background: -ms-linear-gradient(30deg, rgb(20, 17, 25) 18%, rgb(56, 50, 43) 80%, rgb(57, 50, 45) 100%);
    background: -moz-linear-gradient(30deg, rgb(20, 17, 25) 18%, rgb(56, 50, 43) 80%, rgb(57, 50, 45) 100%);
    background: linear-gradient(60deg, rgb(20, 17, 25) 18%, rgb(56, 50, 43) 80%, rgb(57, 50, 45) 100%);
    background-attachment: fixed;
    margin: 0px;
}
.btn-container{
    position: relative;
    transform: translate(0px,10px);
}
#login{
    position: absolute;
    right: 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    text-shadow: 1px 1px 0px #3d3d3d;
    padding: 10px 35px;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--secondary-color), var(--main-color));
    background-size: 0;
    background-repeat: no-repeat;
    border-image: linear-gradient(to right,var(--secondary-color), var(--main-color));
    border-image-slice: 1;
    border-image-width: 5px;
    transition: all 0.5s ease;
}
#login:hover{
    background-size: 100%;
}
h1{
    text-align: center;
}
/*NavBar*/
.navBar{
    font-size: 1.4rem;
}

.navBar ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 13rem;
    padding-left: 0;
    margin-top: 10px;
    margin-left: 0;
    text-align: left;
}
.navBar li{
    margin-top: 10px;
    margin-bottom: 25px;
    justify-content: center;
}
.navBar a{
    color: var(--text-color);
    font-weight: 500;
    text-shadow: 1px 1px 0px #3d3d3d;
    text-decoration: none;
    text-align: left;
    padding: 9px 5px 9px 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    transition: .38s;
}
.navBar a:hover{
    background-color: rgb(22, 141, 82);
    padding: 15px 10px 15px 10px;
}

/*Table*/
.product-grid, .table-names, .table-name{
    border-style: solid;
    border-color: var(--secondary-color);
}
.table-names{
    font-size: 1.5rem;
    margin-bottom: 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.add-container{
    position: relative;
    background-color: red;
}
.icon-container{
    position: absolute;
    left: 0;
    padding: 3px 8px 3px 8px;
    font-size: 25px;
    background-color: var(--secondary-color);
    border-radius: 100%;
}
