@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
.btn-container{
    position: relative;
    transform: translate(0px,10px);
}
#login{
    position: absolute;
    right: 0;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    text-shadow: 1px 1px 0px #3d3d3d;
    padding: 10px 35px;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--secondary-color), var(--main-color));
    background-size: 0;
    background-repeat: no-repeat;
    border-image: linear-gradient(to right,var(--secondary-color), var(--main-color));
    border-image-slice: 1;
    border-image-width: 5px;
    transition: all 0.5s ease;
}
#login:hover{
    background-size: 100%;
}
h1{
    text-align: center;
}

/*Table*/
.product-grid, .table-names, .table-name{
    border-style: solid;
    border-color: var(--secondary-color);
}
.table-names{
    font-size: 1.5rem;
    margin-bottom: 15px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.add-container{
    position: relative;
    background-color: red;
}
.icon-container{
    position: absolute;
    left: 0;
    padding: 3px 8px 3px 8px;
    font-size: 25px;
    background-color: var(--secondary-color);
    border-radius: 100%;
}

.button-container{
    position: absolute;
    display: inline-block;
    max-height: 35px;
}
.button-container button{
    width: 35px;
    height: 35px;
    padding: 10px;
    color: var(--text-color);
    font-size: 20px;
    border: 0;
    background-color: transparent;
    transition: .1s;
}
.button-container button:hover{
    width: 35px;
    height: 35px;
    color: var(--secondary-color-color);
    font-size: 22px;
}
